<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">COMP1640</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse  justify-content-end" id="navbarSupportedContent">
    <ul class="navbar-nav ">
      {{!-- for Admin --}}
      {{#if (eq authen 'admin')}}
      <li class="nav-item {{#if (eq activePage 'academic')}} active{{/if}}">
        <a class="nav-link" href="/admin/academic/view">Manage Academic</a>
      </li>
      <li class="nav-item {{#if (eq activePage 'faculty')}} active{{/if}}">
        <a class="nav-link" href="/admin/faculty/view">Manage Faculty</a>
      </li>
      <li class="nav-item {{#if (eq activePage 'account')}} active{{/if}}">
        <a class="nav-link" href="/admin/account/view">Manage Account</a>
      </li>
      <li class="nav-item {{#if (eq activePage 'chart')}} active{{/if}}">
        <a class="nav-link" href="/admin/academic/chart">Chart</a>
      </li>
      {{/if}}

      {{!-- for Student --}}
      {{#if (eq authen 'student')}}
      <li class="nav-item {{#if (eq activePage 'submission')}} active{{/if}}">
        <a class="nav-link" href="/student/submission/create">Create New Submission</a>
      </li>
      <li class="nav-item {{#if (eq activePage 'viewsubmission')}} active{{/if}}">
        <a class="nav-link" href="/student/submission/view">View Submitted Submission</a>
        {{/if}}

        {{!-- for Manager --}}
        {{#if (eq authen 'manager')}}
      <li class="nav-item {{#if (eq activePage 'magazine')}} active{{/if}}">
        <a class="nav-link" href="/manager/magazine/view">Manage Magazine</a>
      </li>
      {{/if}}
      <li class="nav-item active ">
        {{#if authen}}
        <a class="nav-link">Hello {{username}}</a>
        {{/if}}

      </li>
   
    <form class="form-inline my-2 my-lg-0 d-flex">
      {{#if authen}}
      <a class="btn btn-success my-2 my-sm-0 ml-2" href="/logout">Logout</a>
      {{else}}
      <a class="btn btn-primary my-2 my-sm-0 ml-2" href="/login">Login</a>
      {{/if}}
    </form>
     </ul>
  </div>
</nav>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
